@charset "utf-8";
/* Add a #d7abff background color to the top navigation */
.topnav {
    background-color: #d7abff;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    color: #f2f2f2;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 27px;
    font-family: "permanent-marker";
    margin-left: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    font-style: normal;
    font-weight: 400;
    vertical-align: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ffaaad;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #ffaaad;
  color: white;
	
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.row{
    position: center;
    right: 56px;
}

.column{ 
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 50px;
	margin-bottom: 50px;
	position: center; 
}


/* Centered text */
.centered {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 40px;
}

.text{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
}

.column{
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 60px;
    align-items: center;
    width: 250px;
    height: 250px;
    padding-top: 20px;
    text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.row{ 
	   position: absolute;
   top: 110%;
   left: 21%;
   width: 700px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -350px; /* Half the width */

	
}

.columnimges2{
    margin-left: 150px;
    margin-right: 150px;
	

}

.card-title{
    font-family: "Permanent Marker", "sans-serif";
	color: #ffaaad;
    font-size: 27px;
    align-content: center;
    text-align: center;		
}

.card-body{
    align-content: center;
	margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.card-text{ 
	margin-top: 20px;
	font-family: "amazing infographic";
}

.card{ 
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

.card-image{
    align-content: center;
    margin-top: 20px;
    text-align: center;
}

.row-cols-1{ 
	width: 100%;
	align-content: center;
	height: 210%;
	
}

.row-cols-md-2{ 
	width: 100%;
	height: 210%;
	align-content: center;
}

  footer{
	background: #d7abff;
	color: #fff;
	width: 100%;
	height: 50px;
	  position: absolute;
	  top: 350%;

  }
