@charset "utf-8";
.menubar{ 
	background-color: #D7ABFF; 
}
.navbutts { 
	display: flex;
	flex-direction: row;
}
.mybutt:hover { 
	background-color: #ffaaad;	
}
.mybutt { 
	width: 145px;
	height: 60px;
	font-size: 25px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-color: #000000;
	margin-right: 8px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 40px;
}

.row{
    position: center;
    right: 56px;
}

.column{ 
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 50px;
	margin-bottom: 50px;
	position: center; 
}


/* Centered text */
.centered {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 40px;
}

.text{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
}

.column{
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 60px;
    align-items: center;
    width: 250px;
    height: 250px;
    padding-top: 20px;
    text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.row{ 
	   position: absolute;
   top: 100%;
   left: 50%;
   width: 800px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -350px; /* Half the width */
}

.titleindex{
	text-align: center;
	font-family: "Permanent Marker", "sans-serif"
	
}

.columnimges2{
    margin-left: 150px;
    margin-right: 150px;
	

}

.card-title{
    font-family: "park lane";
    font-size: 30px;
    align-content: center;
    text-align: center;		
}

.card-body{
    align-content: center;
	margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.card-text{ 
	margin-top: 20px;
	font-family: "amazing infographic";
}

.card{ 
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

.card-image{
    align-content: center;
    margin-top: 20px;
    text-align: center;
}

.btn-outline-secondary{
	align-items: center;
	color: grey;
	align-content: center;
	font-family: "Amazing Infographic@"
}

.card-imgindex{
	align-items: center;
}

.card-text{
	font-family: "Amazing Infographic@"
}

.card-text2{
	color: black;
	font-family:  Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
		
}
