@charset "utf-8";
.menubar{ 
	background-color: #D7ABFF; 
}
.navbutts { 
	display: flex;
	flex-direction: row;
}
.mybutt:hover { 
	background-color: #ffaaad;	
}
.mybutt { 
	width: 145px;
	height: 60px;
	font-size: 25px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-color: #000000;
	margin-right: 8px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 40px;
}

.column{ 
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 50px;
	margin-bottom: 50px;
	
}

/* Centered text */
.centered {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 40px;
}

.text{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
}

.column{
    background-color: #D7ABFF;
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 60px;
    align-items: center;
    width: 250px;
    height: 250px;
    padding-top: 20px;
    text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.rowcolumn{ align-items: center;
	align-content: center;
}

.card-title{
    font-family: "park lane";
    font-size: 30px;
    align-content: center;
    text-align: center;		
}

.card-body{
    align-content: center;
	margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.card-text{ 
	margin-top: 20px;
	font-family: "amazing infographic";
}

.card{ 
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

.card-image{
    align-content: center;
    margin-top: 20px;
    text-align: center;
	

}

