@charset "utf-8";
.menubar{ 
	background-color: #D7ABFF; 
}
.navbutts { 
	display: flex;
	flex-direction: row;
}
.mybutt:hover { 
	background-color: #ffaaad;	
}
.mybutt { 
	width: 145px;
	height: 60px;
	font-size: 25px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-color: #000000;
	margin-right: 8px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 40px;
}

body {
    background-color: #FDFDFD;
    color: #FF4444;
    font-family: 'Amazing Infographic@';
	
}
	