@charset "utf-8";
.menubar{ 
	background-color: #D7ABFF; 
}

.navbutts { 
	display: flex;
	flex-direction: row;
}
.mybutt:hover { 
	background-color: #ffaaad;	
}
a.nav-item.nav-link {
    font-size: 26px; color: #000 !important;
}
.footer{
    background-color: #d7abff;
    text-align: center;
    height: 40px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-size: 15px;
    padding-top: 10px;
    margin-top: 35px;
    line-height: 20px;
}
.mybutt { 
	width: 200px;
	height: 70px;
	color: black;
	font-size: 27px;
	font-family: "Permanent Marker", "sans-serif";
	text-color: #000000;
	margin-right: 30px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 30px;
}

.row{
    position: center;
    right: 56px;
}

.column{ 
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 50px;
	margin-bottom: 50px;
	position: center; 
}


/* Centered text */
.centered {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 40px;
}

.text{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
}

.column{
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 60px;
    align-items: center;
    width: 250px;
    height: 250px;
    padding-top: 20px;
    text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}


}

.titleindex{
	text-align: center;
	font-family: "Permanent Marker", "sans-serif"
	
}

.columnimges2{
    margin-left: 150px;
    margin-right: 150px;
	

}

.card-title{
    font-family: "park lane";
    font-size: 30px;
    align-content: center;
    text-align: center;		
}

.card-body{
    align-content: center;
	margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.card-text{ 
	margin-top: 20px;
	font-family: "amazing infographic";
}

.card{ 
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
}

.card-image{
    align-content: center;
    margin-top: 20px;
    text-align: center;
}

input {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

textarea {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.btn-outline-secondary{
	align-items: center;
	color: grey;
	align-content: center;
	font-family: "Amazing Infographic@"
}

a.btn.btn-primary {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.card-imgindex{
	align-items: center;
}

.card-text{
        font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    }


.card-text2{
	color: black;
	font-family:  Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
		
}


body {
    background-color: #FDFDFD;
    color: #FF4444;
    font-family: 'permanent-marker';
	
}

h2 {
    font-family: "Permanent Marker", "sans-serif";
}

p {
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    color: #000000;
}

footer {
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.ImageB{
     height: auto;
  width: 100%;
/* even more control with max-width */
  max-width: 620px;
}
