@charset "utf-8";
.container{ font-family: "Permanent Marker", "sans-serif";
	color: #ffaaad;}

.lead{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    color: #000000;

}

.list-group{ font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    color: #000000;}

.textfooter{ 
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";

}

.footer{ 
	background-color: #d7abff;
}

