@charset "utf-8";
a.nav-item {
    font-family: 'permanent-marker';
    font-size: 26px;
	color: #000000 !important; } 
	
	.footer{
    background-color: #d7abff;
    text-align: center;
    height: 40px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-size: 15px;
    padding-top: 10px;
    margin-top: 35px;
    line-height: 20px;
}

a.nav-item.nav-link {
    font-size: 26px; color: #000 !important;
	font-family: "Permanent Marker"
}

a.nav-item {
    font-family: 'permanent-marker';
    font-size: 26px;
    color: #000000 !important;
 }

.menubar{ 
	background-color: #D7ABFF; 
}

.navbutts { 
	display: flex;
	flex-direction: row;
}
.mybutt:hover { 
	background-color: #ffaaad;	} 

.mybutt { 
	width: 200px;
	height: 70px;
	color: black;
	font-size: 27px;
	font-family: "Permanent Marker", "sans-serif";
	text-color: #000000;
	margin-right: 30px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 30px;
}

.Mission {
    font-family: "Permanent Marker", "sans-serif";
    font-size: 30px;
    text-align: center;
}
.container {
	display:inline-block;
    height:100%;
    vertical-align:middle;
}

.video{
    margin-top: 50px;
    text-align: center;
	
}

.Textmission{
    text-align: center;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    margin-left: 40px;
    margin-right: 40px;
}
